/.venv
/CSV_to_NMRe_output
/NP-ID and structure NP0100001-NP0150000 - Copy.csv
/NP-ID and structure NP0100001-NP0150000.csv
/NP-ID and structure NP0100001-NP0150000.xlsx
/NP-MRD_nmr_peak_lists_NP0100001_NP0150000
/Writeup
/~$NP-ID and structure NP0100001-NP0150000.xlsx
/~$oject proposal.docx
/~WRL2097.tmp
/~WRL2560.tmp
/~WRL3704.tmp